<!DOCTYPE html>
<html lang="en">

<head>
    <title>Habitat</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'styles/style.css')}}">    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>

<body>
    <div id='banner' class="container-fluid">
        <div class="row">
            <div id='name' class="col-1">Habitat</div>
            <a id='habitat-name' class="col-10">Habitat Name</a>
            <div id='user-name' class="col-1">username</div>
        </div>
    </div>
    <div id='page' class='container-fluid'>
        <div id="tabs">
            <button id='community-btn' type='button' class='btn'>Community Posts</button>
            <button type='button' class='btn'>Discussion Board</button>
            <button type='button' class='btn'>Shared Calendar</button>
            <button type='button' class='btn'>Group Achievments</button>
        </div>
    </div>

    <div class="container"> 
        <div class="msg-header"> 
            <div class="msg-header-img">
            <img src="{{url_for('static', filename = 'images/pfp.jpg')}}">
            </div> 
            <div class="active">
                <h4> 
                    &nbsp Habitat
                    <!-- name -->
                </h4>
                <h6>
                    &nbsp Last Active: 1:12 PM, Today
                    <!-- time ago -->
                </h6>
            </div>
        </div>
        <div class="chat-page"> 
            <div class="msg-inbox">
                 <div class="chats">
                     <div class="msg-page">
                         <div class="received-chats"> 
                         <div class="received-chats-img">
                             <img src="{{url_for('static', filename = 'images/pfp.jpg')}}">
                         </div>
                            <div class="received-msg">
                                <div class="received-msg-inbox">
                                    <p>I've been meditating for the last six days! Only one more day to go for my first week.</p>
                                    <span class="time">&nbsp Robert Fortsen &nbsp &nbsp 7:42 AM, Today</span>
                                </div>
                            </div>
                         </div>
                         
                         <div class="sent-chats"> 
                                <div class="sent-msg">
                                   <div class="sent-msg-inbox">
                                       <p>That's great to hear! I just started and am looking forward to doing this with you guys</I></p>
                                       <span class="time">&nbsp You &nbsp &nbsp 7:55 AM, Today</span>
                                   </div>
                                </div>
                                <div class="sent-chats-img">
                                   <img src="{{url_for('static', filename = 'images/pfp.jpg')}}">
                                </div>
                         </div>
                         <div class="received-chats"> 
                            <div class="received-chats-img">
                                <img src="{{url_for('static', filename = 'images/pfp.jpg')}}">
                            </div>
                               <div class="received-msg">
                                   <div class="received-msg-inbox">
                                       <p>You'll love it here. I'm so excited to get my one week badge, hoping to continue for the whole month.</p>
                                       <span class="time">&nbsp Robert Fortsen &nbsp &nbsp 8:24 AM, Today</span>
                                   </div>
                               </div>
                            </div>
                           
                        <div class="sent-chats"> 
                                <div class="sent-msg">
                                  <div class="sent-msg-inbox">
                                      <p>Sounds good. Are we still having our video call later today? </p>
                                      <span class="time">&nbsp You &nbsp &nbsp 11:42 AM, Today</span>
                                  </div>
                               </div>
                               <div class="sent-chats-img">
                                  <img src="{{url_for('static', filename = 'images/pfp.jpg')}}">
                               </div>
                        </div>
                       
                        <div class="received-chats"> 
                            <div class="received-chats-img">
                                <img src="{{url_for('static', filename = 'images/pfp.jpg')}}">
                            </div>
                               <div class="received-msg">
                                   <div class="received-msg-inbox">
                                       <p>Yep, 7:00 PM today. Can everyone come?</p>
                                       <span class="time">&nbsp Pradyun Kamaraju &nbsp &nbsp 1:24 PM, Today</span>
                                   </div>
                               </div>
                            </div>
                         <br>
                    <div class="received-chats"> 
                        <div class="received-chats-img">
                            <img src="{{url_for('static', filename = 'images/pfp.jpg')}}">
                        </div>
                           <div class="received-msg">
                               <div class="received-msg-inbox">
                                   <p>I definitely can! See you guys then</p>
                                   <span class="time">&nbsp Derek Geng &nbsp &nbsp 1:55 PM, Today</span>
                               </div>
                           </div>
                        </div>

                    </div>
                    </div>

                 </div>
            </div>

        <div class="msg-bottom">
            <!-- <div class="bottom-icons">
                <i class = "fa fa-plus-circle"></i>
                <i class = "fa fa-camera"></i>
                <i class = "fa fa-microphone"></i>
                <i class = "fa fa-smile-o"></i>
            </div> -->
            <div class="input-group">
                <input type="text" class="form-control" placeholder="write message...">
                    <div class="input-group-append">
                        <span class="input-group-text"> 
                            <i class = "fa fa-paper-plane"></i>
                        </span>
                    </div>

            </div>
        </div>
    </div>
</body>

</html>