
#banner{
    padding: 20px;
    background-color: greenyellow;
}
#habitat-name{
    font-size: 200%;
    text-align: center;
    text-decoration: none;
    color: black;
}
#user-name{
    text-align: center;
}
#page{
    padding: 10px 10px;
    background-color: white;
}
#tabs{
    background-color: white;
}
#form{
    padding-left: 25px;
}
#posts{
    /* background-color: white; */
    margin-left: 35px;
    border: 1px solid black !important;
}
#title-input{
    border: 1px solid black !important;
}
.post{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    padding: 10px;
    background-color: white; 
    border: 1px solid;
}
.post-title{
    font-size: 150%;
    background-color: white !important; 
    text-decoration: none;
    text-align: center;
    color: black;
}
#post-btn{
    margin-top: 10px;
    margin-left: 30px;
    background-color: rgb(43, 238, 25);
    border: 1px solid black;
}
#sidebar{
    margin-left: 30px;
    border: 1px solid black !important;
}
#post-container{
    padding: 20px !important;
}
#post-title{
    padding: 20px;
    margin : 10px !important;
    border: 1px solid black !important;
    background-color: #fff;
}
#post-body{
    border: 1px solid black !important;
    padding: 10px;
    background-color: #fff;
    text-align: left;
}
[class*='col']{
    background-color: greenyellow;
    border: 0px solid #fff;
    /* color: #fff; */
    text-align: center;
}
[class*='con']{
    border: 0px !important;
    background-color: white;
    border: 1px solid #fff;
    /* color: #fff; */
}

body {background: #92a8d1 !important; }
